{% extends "skeleton.html" %}

{% block title %}Jean-Cloud - Home{% endblock %}

{% block content %}
<h1>Welcome to Jean-Cloud's office</h1>
<h1>The AI assistant by Cloud Mercato</h1>

<div class="row">

<div>
  <p><a href="{% url "query" %}">Query</a></p>
</div>
<div>
  <p><a href="{% url "provider-list" %}">Providers</a></p>
  <p><a href="{% url "flavor-list" %}">Flavors</a></p>
  <p><a href="{# url "update-data" #}">Update</a></p>
</div>

<div>
  <p><a href="{# url "system" #}">System</a></p>
  <p><a href="{# url "api-root" #}">API</a></p>
</div>

</div>
{% endblock content%}
